* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main {
  width: 960px;
  margin: 50px auto;
}

.stepbox {
  float: left;
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  border: 1px solid #eee;
}

.stepbox:last-child {
  margin-right: 0;
}

.blog-image {
  height: 150px;
}

.step {
  position: absolute;
  top:0;
  left: 0;
  background-color: orange;
  color: white;
  padding: 3px;
}

.blog-image {
  width: 280px;
}